@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary: #f97316;
  --color-primary-light: #fb923c;
  --color-primary-dark: #ea580c;
  --color-navy: #0f172a;
  --color-navy-light: #1e293b;
  --color-navy-mid: #334155;
}
